{
  "log": {
    "_recordingName": "fetchLocations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 578,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171,
      },
      {
        "_id": "31fb403cb27a6094844b559bc5606d32",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bigtableadmin.googleapis.com/v2/projects/j1-gc-integration-dev-v3/locations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 3845,
            "text": "{\"locations\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-east1-a\",\"labels\":{\"cloud.googleapis.com/region\":\"asia-east1\",\"cloud.googleapis.com/location\":\"asia-east1-a\",\"cloud.googleapis.com/country\":\"TW\"},\"locationId\":\"asia-east1-a\",\"displayName\":\"Taiwan\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-east1-b\",\"labels\":{\"cloud.googleapis.com/location\":\"asia-east1-b\",\"cloud.googleapis.com/country\":\"TW\",\"cloud.googleapis.com/region\":\"asia-east1\"},\"locationId\":\"asia-east1-b\",\"displayName\":\"Taiwan\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-east1-c\",\"labels\":{\"cloud.googleapis.com/location\":\"asia-east1-c\",\"cloud.googleapis.com/country\":\"TW\",\"cloud.googleapis.com/region\":[...]
