{
  "log": {
    "_recordingName": "buildProjectBudgetRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 576,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 117,
      },
      {
        "_id": "71bfec2220530909635dac04f4913b2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://billingbudgets.googleapis.com/v1/billingAccounts/01694E-12D60B-BEBCE5/budgets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1114,
            "text": "{\"budgets\":[{\"name\":\"billingAccounts/01694E-12D60B-BEBCE5/budgets/459b5dfa-1c2b-47af-8396-e3fd5e32a834\",\"displayName\":\"budget-example-01\",\"budgetFilter\":{\"projects\":[\"projects/167984947943\"],\"creditTypesTreatment\":\"INCLUDE_ALL_CREDITS\",\"calendarPeriod\":\"MONTH\"},\"amount\":{\"specifiedAmount\":{\"currencyCode\":\"USD\",\"units\":\"1000\"}},\"thresholdRules\":[{\"thresholdPercent\":0.5,\"spendBasis\":\"CURRENT_SPEND\"},{\"thresholdPercent\":0.9,\"spendBasis\":\"CURRENT_SPEND\"},{\"thresholdPercent\":1,\"spendBasis\":\"CURRENT_SPEND\"}],\"notificationsRule\":{},\"etag\":\"1627655637440882\"},{\"name\":\"billingAccounts/01694E-12D60B-BEBCE5/budgets/7fa6803c-0e1a-415e-ab30-69d953298d11\",\"displayName\":\"budget-example-multi-project\",\"budgetFilter\":{\"creditTypesTreatment\":\"INCLUDE_ALL_CREDITS\",\"calendarPeriod\":\"MONTH\"},\"amount\":{\"specifiedAmount\":{\"currencyCode\":\"USD\",\"units\":\"1000\"}},\"thresholdRules\":[{\"thresholdPercent\":0.5,\"spendBasis\":\"CURRENT_SPEND\"},{\"thresholdPercent\":0.9,\"spendBasis\":\"CURRENT_SPEND\"},{\"thresholdPerce[...]
