{
  "log": {
    "_recordingName": "fetchOperations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 610,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 284,
      },
      {
        "_id": "c8b73202df44fea3f44b5ac75cca08a0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "500"
            }
          ],
          "url": "https://bigtableadmin.googleapis.com/v2/operations/projects/j1-gc-integration-dev-v3/operations?pageSize=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 952,
            "text": "{\"operations\":[{\"name\":\"operations/projects/j1-gc-integration-dev-v3/instances/j1-test-instance/locations/asia-south1-a/operations/7455464913878901352\",\"metadata\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.CreateInstanceMetadata\",\"originalRequest\":{\"parent\":\"projects/j1-gc-integration-dev-v3\",\"instanceId\":\"j1-test-instance\",\"instance\":{\"displayName\":\"j1-test-instance\",\"type\":\"PRODUCTION\"},\"clusters\":{\"j1-test-instance-c1\":{\"location\":\"projects/j1-gc-integration-dev-v3/locations/asia-south1-a\",\"serveNodes\":1,\"defaultStorageType\":\"HDD\"}}},\"requestTime\":\"2021-08-03T17:28:31.237448588Z\",\"finishTime\":\"2021-08-03T17:28:33.357677844Z\"},\"done\":true,\"response\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.Instance\",\"name\":\"projects/j1-gc-integration-dev-v3/instances/j1-test-instance\",\"displayName\":\"j1-test-instance\",\"state\":\"READY\",\"type\":\"PRODUCTION\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2417,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
