{
  "log": {
    "_recordingName": "fetchOperations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 593,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 201,
      },
      {
        "_id": "c8b73202df44fea3f44b5ac75cca08a0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "500"
            }
          ],
          "url": "https://bigtableadmin.googleapis.com/v2/operations/projects/j1-gc-integration-dev-v3/operations?pageSize=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1454,
            "text": "{\"operations\":[{\"name\":\"operations/projects/j1-gc-integration-dev-v3/instances/bt-instance/clusters/bt-instance/backups/tf-backup/locations/us-central1-b/operations/4865267906225648703\",\"metadata\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.CreateBackupMetadata\",\"name\":\"tf-backup\",\"sourceTable\":\"projects/j1-gc-integration-dev-v3/instances/bt-instance/tables/tf-table\",\"startTime\":\"2021-08-12T00:46:39.327216499Z\",\"endTime\":\"2021-08-12T00:46:40.151706669Z\"},\"done\":true,\"response\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.Backup\",\"name\":\"projects/j1-gc-integration-dev-v3/instances/bt-instance/clusters/bt-instance/backups/tf-backup\",\"sourceTable\":\"projects/j1-gc-integration-dev-v3/instances/bt-instance/tables/tf-table\",\"expireTime\":\"2021-08-13T00:46:37.503Z\",\"startTime\":\"2021-08-12T00:46:39.326777Z\",\"endTime\":\"2021-08-12T00:46:40.026785Z\",\"state\":\"READY\",\"encryptionInfo\":{\"encryptionType\":\"GOOGLE_DEFAULT_ENCRYPTION\"}}},{\"name\":\"operations/projects/j1-gc-integration-dev-v3/instances/bt-instance/locations/us-central1-b/operations/8951918535169126122\",\"metadata\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.CreateInstanceMetadata\",\"originalRequest\":{\"parent\":\"projects/j1-gc-integration-dev-v3\",\"instanceId\":\"bt-instance\",\"instance\":{\"displayName\":\"bt-instance\",\"type\":\"PRODUCTION\"},\"clusters\":{\"bt-instance\":{\"location\":\"projects/j1-gc-integration-dev-v3/locations/us-central1-b\",\"serveNodes\":3,\"defaultStorageType\":\"HDD\"}}},\"requestTime\":\"2021-08-12T00:40:43.111693512Z\",\"finishTime\":\"2021-08-12T00:40:44.329046107Z\"},\"done\":true,\"response\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.Instance\",\"name\":\"projects/j1-gc-integration-dev-v3/instances/bt-instance\",\"displayName\":\"bt-instance\",\"state\":\"READY\",\"type\":\"PRODUCTION\"}},{\"name\":\"operations/projects/j1-gc-integration-dev-v3/instances/bt-instance/locations/us-central1-b/operations/5284587272113793734\",\"metadata\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.CreateInstanceMetadata\",\"originalRequest\":{\"parent\":\"projects/j1-gc-integration-dev-v3\",\"instanceId\":\"bt-instance\",\"instance\":{\"displayName\":\"bt-instance\",\"type\":\"PRODUCTION\"},\"clusters\":{\"bt-instance\":{\"location\":\"projects/j1-gc-integration-dev-v3/locations/us-central1-b\",\"serveNodes\":3,\"defaultStorageType\":\"HDD\"}}},\"requestTime\":\"2021-08-06T17:57:35.431728193Z\",\"finishTime\":\"2021-08-06T17:57:36.880096758Z\"},\"done\":true,\"response\":{\"@type\":\"type.googleapis.com/google.bigtable.admin.v2.Instance\",\"name\":\"projects/j1-gc-integration-dev-v3/instances/bt-instance\",\"displayName\":\"bt-instance\",\"state\":\"READY\",\"type\":\"PRODUCTION\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1251,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
